<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>


    <title>AngularJS || Uygulama - 3 </title>

    <style>
        table, tr, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 10px;
            min-width: 150px;
            text-align: center;
        }
    </style>
</head>
<body ng-app="myApp" ng-controller="myControl">

    <input type="text" ng-model="search" placeholder="Filtreleyiniz." />
    <br /><br />

    <table>
        <thead>
            <tr>
                <th ng-click="sortBy('ad')">AD</th>
                <th ng-click="sortBy('soyad')">SOYAD</th>
                <th ng-click="sortBy('sehir')">SEHİR</th>
            </tr>
        </thead>

        <tbody ng-repeat="x in people | orderBy : sort : reverse">
            <!--{soyad: search} ya da direkt hepsini kapsayan direkt search-->
            <tr>
                <td>{{x.ad}}</td>
                <td>{{x.soyad}}</td>
                <td>{{x.sehir}}</td>
            </tr>
        </tbody>
    </table>

    <script>

        var app = angular.module("myApp", []);

        app.controller("myControl", function ($scope, $http) {

            $scope.sortBy = function (x) {
                $scope.sort = x;
                $scope.reverse = !$scope.reverse;
            };

            $http.get("kisiler.json").then(function (response) {
                $scope.people = response.data.kisiler;
            });

        });

    </script>


</body>
</html>